<%

  def render_content(items, placeholder_type)
    return unless [:array, :document].include?(placeholder_type)

    placeholder_brackets = {
      array: ["[", "]"],
      document: ["{", "}"]
    }

    html_string = "<div class='indented-line'>"

    html_string += placeholder_brackets[placeholder_type][0]
    items.each_with_index do |param, index|
      html_string += "<div class='indented-line'>"
      description = ""
      description += ("&nbsp;" + param.description) if param.description
      description += "; <span class='required_field'> required</span>" if param.required
      description += "; default value: #{param.default}" if param.default
      description += "; example value: #{param.example_value}" if param.example_value

      if [:array, :document].include?(param.data_type) && param.content
        html_string += "<span class='field_name'>#{param.name}</span>:" unless param.name.to_s.empty?
        html_string += "&nbsp;<span class='field_details'>" + "&nbsp;//&nbsp;" + "#{param.data_type}"
        html_string += ",#{description}" unless description.empty?
        html_string += "</span>"
        html_string += render_content(param.content, param.data_type)
        html_string += "," if (index + 1 != items.size)
      else
        html_string += "<span class='field_name'>#{param.name}</span>:" unless param.name.to_s.empty?
        html_string += "&nbsp;<span class='field_type'>#{param.data_type}</span>"
        html_string += "," if (index + 1 != items.size)
        html_string += "<span class='field_details'>" + ("&nbsp;//" + description) + "</span>" if !description.empty?
      end

      html_string += "</div>"
    end

    html_string += placeholder_brackets[placeholder_type][1]
    html_string += "</div>"

  end

%>

<%
  # Relative reference urls nesting
  nesting_path_prefix = "./" + "../" * File.dirname(@generator.filename_for(resource)).split("/").count
%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%= nesting_path_prefix %>assets/images/favicon.ico">

    <title>Project name here</title>

    <!-- Bootstrap core CSS -->
    <link href="<%= nesting_path_prefix %>assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="<%= nesting_path_prefix %>assets/stylesheets/dashboard.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">API project name documentation</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </div>


    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <% @resources.each do |resource| %>
              <li class="<%= 'active' if resource.id == @resource.id %>"><a href="<%= nesting_path_prefix %><%= @generator.filename_for(resource) %>"><%= resource.name %></a></li>
            <% end %>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header"><%= @resource.name %></h1>
          <div class="panel panel-default">
            <div class="panel-heading">ID: <%= @resource.id %></div>
            <div class="panel-body"><%= @resource.description %>
            </div>
          </div>

          <h3>Request</h3>

          <div class="panel panel-default">
            <div class="panel-heading">URL</div>
            <div class="panel-body">
              <%= @resource.path %>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">Method</div>
            <div class="panel-body"><%= @resource.http_method %></div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">Format</div>
            <div class="panel-body"><%= @resource.format %></div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">Headers</div>
            <table class="table table-hover">
              <tr>
                <th>Name</th>
                <th>Value</th>
                <th>Description</th>
                <th>Required</th>
              </tr>
              <% @resource.headers.each do |header| %>
                <tr>
                  <td><%= header.name %>:</td>
                  <td><%= header.value %></td>
                  <td><%= header.description %></td>
                  <td><%= header.required ? "Yes" : "No" %></td>
                </tr>
              <% end %>
            </table>
          </div>

          <%
            captions = ["Url params", "Data params"]
            param_location = [:query, :body]
          %>
          <% param_location.each_with_index do |pl, index| %>
            <div class="panel panel-default">
              <div class="panel-heading"><%= captions[index] %></div>
              <% if @resource.parameters && params = @resource.parameters.send(pl) %>
                <% @resource.parameters %>
                <div class="panel-body">
                  <% placeholder_type =  @resource.parameters.send("#{pl}_container_type") %>
                  <%= render_content(params, placeholder_type) %>
                </div>
              <% else %>
                <div class="panel-body">None</div>
              <% end %>
            </div>
          <% end %>

          <h3>Responses</h3>

          <% @resource.responses.each do |response| %>
            <div class="panel panel-default group">
              <div class="panel panel-default">
                <div class="panel-body"><%= response.name %></div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">HTTP Status</div>
                <div class="panel-body"><%= response.http_status %></div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">Format</div>
                <div class="panel-body"><%= response.format %></div>
              </div>

              <%
                captions = ["Url params", "Data params"]
                param_location = [:query, :body]
              %>
              <% param_location.each_with_index do |pl, index| %>
                <% params = response.parameters.send(pl) %>
                <% unless params.empty? %>
                  <div class="panel panel-default">
                    <div class="panel-heading"><%= captions[index] %></div>
                    <div class="panel-body">
                      <% placeholder_type =  @resource.parameters.send("#{pl}_container_type") %>
                      <%= render_content(params, placeholder_type) %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="<%= nesting_path_prefix %>assets/javascripts/jquery-1.11.1/jquery.min.js"></script>
    <script src="<%= nesting_path_prefix %>assets/javascripts/bootstrap.min.js"></script>
    <script src="<%= nesting_path_prefix %>assets/javascripts/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="<%= nesting_path_prefix %>assets/javascripts/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
